<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">


    <property name="LOG_DIR" value="/CRUD_Board/logs"/>
    <property name="LOG_PATTERN" value="%d{HH:mm:ss.SSS} [%thread] %-5level %logger{35} [%file:%line] -%msg%n"/>

    <!--콘솔 출력-->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                ${LOG_PATTERN}
            </pattern>
        </encoder>
    </appender>

    <!--level Error log file-->
    <appender name="ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>error</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <file>${LOG_DIR}/error/crud-error-app.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            daily rollover
            <fileNamePattern>${LOG_DIR}/error/crud-error-app.log.%d{yyyy-MM-dd}.log</fileNamePattern>
            keep 15 days' worth of history
            <maxHistory>60</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!--level Debug log file-->
    <appender name="DEBUGFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>debug</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <file>${LOG_DIR}/debug/crud-debug-app.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            daily rollover
            <fileNamePattern>${LOG_DIR}/debug/crud-debug-app.log.%d{yyyy-MM-dd}.log</fileNamePattern>
            keep 15 days' worth of history
            <maxHistory>15</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!--level Debug log file-->
    <appender name="INFOFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>info</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <file>${LOG_DIR}/info/crud-info-app.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            daily rollover
            <fileNamePattern>${LOG_DIR}/debug/crud-info-app.log.%d{yyyy-MM-dd}.log</fileNamePattern>
            keep 15 days' worth of history
            <maxHistory>15</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!--Debug level-->
    <logger name="org.springframework" level="DEBUG" >
        <!--<appender-ref ref="STDOUT" />-->
        <appender-ref ref="ERROR" />
        <appender-ref ref="DEBUGFILE"/>
    </logger>

    <!-- Query Loggers -->
    <logger name="jdbc" level="OFF"/>

    <logger name="jdbc.sqlonly" level="info" additivity="false">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="ERROR"/>
        <appender-ref ref="DEBUGFILE"/>
    </logger>

    <!-- log SQL with timing information, post execution -->
    <logger name="jdbc.sqltiming" level="info" additivity="false">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="ERROR"/>
        <appender-ref ref="DEBUGFILE"/>
    </logger>

    <logger name="jdbc.resultsettable" level="info" additivity="false">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="ERROR"/>
        <appender-ref ref="DEBUGFILE"/>
    </logger>
    <!-- turn OFF all logging (children can override) -->
    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="ERROR"/>
        <!--<appender-ref ref="DEBUGFILE"/>-->
    </root>
</configuration>