<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases >
        <typeAlias alias="UserVO" type ="com.board.domain.UserVO"/>
        <typeAlias alias="BoardVO" type ="com.board.domain.BoardVO"/>
        <typeAlias alias="LikeVO" type ="com.board.domain.LikeVO"/>
    </typeAliases>
</configuration>