<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">


    <!--DB연결 설정-->

    <!-- Properties.xml -->
    <util:properties id="dbConfig" location="classpath:/config/dbConfig.xml"/>
    <util:properties id="emailConfig" location="classpath:/config/emailConfig.xml"/>

    <context:component-scan base-package="com.board.dao"/>

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="#{dbConfig['db.driverClassName']}"></property>
        <property name="url" value="#{dbConfig['db.jdbcUrl']}"></property>
        <property name="username" value="#{dbConfig['db.username']}"></property>
        <property name="password" value="#{dbConfig['db.password']}"></property>
    </bean>

    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"></property>
        <property name="mapperLocations" value="classpath:/mappers/**/*.xml"></property>
        <property name="configLocation" value="classpath:/mybatis/mybatis-config.xml"></property>
    </bean>

    <bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate" destroy-method="clearCache">
        <constructor-arg name="sqlSessionFactory" ref="sqlSessionFactory"></constructor-arg>
    </bean>

    <!-- Mail 인증 관련 -->
    <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="host" value="#{emailConfig['mail.host']}" />
        <property name="port" value="#{emailConfig['mail.port']}" />
        <property name="username" value="#{emailConfig['mail.manager']}" />
        <property name="password" value="#{emailConfig['mail.password']} " />
        <property name="javaMailProperties">
            <props>
                <prop key="mail.transport.protocol">smtp</prop>
                <prop key="mail.smtp.auth">true</prop>
                <prop key="mail.smtp.starttls.enable">true</prop>
                <prop key="mail.debug">true</prop>
            </props>
        </property>
    </bean>

</beans>